{% extends 'base.html.twig' %}

{% block title %}
    Explore!
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Users registered on Symfbook
        </h1>
    </section>

    <section class="content">

        <div class="row">
            {% for user in users %}
                <div class="col-md-2">
                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            {% if user.profilePicture == null %}
                                <img class="profile-user-img img-responsive img-circle" src="{{ asset('static/img/default-profile.jpg') }}" alt="User profile picture" />
                            {% else %}
                                <img src="{{ asset('upload/profile_pictures/' ~ user.profilePicture) }}" class="profile-user-img img-responsive img-circle" alt="User profile picture" />
                            {% endif %}

                            <a href="{{ path('app_profile', {'userId' : user.id}) }}"><h3 class="profile-username text-center">{{ user.fullname }}</h3></a>

                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Friends</b> <a class="pull-right">{{ friendService.friendsCount(user) }}</a>
                                </li>
                            </ul>

                            {% if app.user not in user.allFriends %}
                                <a href="{{ path('app_add_friend', {'userId' : user.id}) }}" class="btn btn-primary btn-block"><i class="fa fa-user-plus" aria-hidden="true"></i> <b>Add Friend</b></a>
                            {% endif %}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            {% endfor %}
        </div>
        <!-- /.row -->
    </section>
{% endblock %}