<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ asset('static/img/favicon.ico') }}" type="image/x-icon">
    <title>Registration Page</title>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ asset('static/css/bootstrap.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('static/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('static/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('static/css/AdminLTE.css') }}">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="/"><b>Symf</b>book</a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">Register on our portal:</p>

            {{ form_start(form) }}
            <div class="form-group has-feedback">
                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Username'}}) }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span class="help-block text-red">{{ form_errors(form.username) }}</span>
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.fullname, {'attr': {'class': 'form-control', 'placeholder': 'Full Name'}}) }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span class="help-block text-red">{{ form_errors(form.fullname) }}</span>
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span class="help-block text-red">{{ form_errors(form.email) }}</span>
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.plainPassword.password, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span class="help-block text-red">{{ form_errors(form.plainPassword.password) }}</span>
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.plainPassword.confirmPassword, {'attr': {'class': 'form-control', 'placeholder': 'Confirm Password'}}) }}
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                <span class="help-block text-red">{{ form_errors(form.plainPassword.confirmPassword) }}</span>
            </div>
            <div class="row">
                <div class="col-xs-8"></div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
                <!-- /.col -->
            </div>
            {{ form_end(form) }}
            <a href="{{ path('app_login') }}" class="text-center">I am already registered</a>
        </div>
    </div>
    <!-- /.register-box -->

    <!-- Success Modal -->
    <div class="modal modal-success fade" id="modal-success">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Registration</h4>
                </div>
                <div class="modal-body">
                    <p>User registered!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Error Modal -->
    <div class="modal modal-danger fade" id="modal-error">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Registration</h4>
                </div>
                <div class="modal-body">
                    <p>Error</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- jQuery 3 -->
    <script src="{{ asset('static/js/jquery.min.js') }}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{{ asset('static/js/bootstrap.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('static/plugins/iCheck/icheck.min.js') }}"></script>
    <script>
        {% if success %}
        $('#modal-success').modal('show');
        {% endif %}
    </script>
</body>
</html>