{% extends 'base.html.twig' %}

{% block title %}
Settings
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>Settings</h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-centered">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="col-lg-4 col-lg-offset-4">
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row text-center">
                                            <div class="row user-header">
                                                {% if app.user.profilePicture != null %}
                                                    <img src="{{ asset('upload/profile_pictures/' ~ app.user.profilePicture) }}" class="img-circle align-center" alt="User Image" width="100px" height="100px" />
                                                {% else %}
                                                    <img src="{{ asset('static/img/default-profile.jpg') }}" class="img-circle align-center" alt="User Image" width="100px" height="100px" />
                                                {% endif %}
                                            </div>
                                            <div class="profile-picture-input row col-sm-8 col-sm-offset-2">
                                                <div class="input-group">
                                                    <label class="input-group-btn">
                                                        <span class="btn btn-primary btn-file">
                                                            Browse&hellip; {{ form_widget(form.profilePicture, {'attr':{'accept': 'image/*', 'style':'display:none'}}) }}
                                                        </span>
                                                    </label>
                                                    <input type="text" class="form-control" readonly value="Choose a profile picture...">
                                                </div>
                                                <span class="help-block text-red">{{ form_errors(form.profilePicture) }}</span>
                                            </div>
                                            <div class="row col-sm-8 col-sm-offset-2">
                                                <h2>{{ app.user.fullname }}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div><h4>User Settings</h4></div>
                                <div class="form-group has-feedback">
                                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    <span class="help-block text-red">{{ form_errors(form.username) }}</span>
                                </div>
                                <div class="form-group has-feedback">
                                    {{ form_widget(form.fullname, {'attr': {'class': 'form-control', 'placeholder': 'Full Name'}}) }}
                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    <span class="help-block text-red">{{ form_errors(form.fullname) }}</span>
                                </div>
                                <div class="form-group has-feedback">
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                    <span class="help-block text-red">{{ form_errors(form.email) }}</span>
                                </div>
                                <div class="form-group has-feedback">
                                    {{ form_widget(form.plainPassword.password, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                                    <span class="glyphicon glyphicon-lock form-control-feedback">{{ form_errors(form.plainPassword.password) }}</span>
                                    <span class="help-block text-red"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    {{ form_widget(form.plainPassword.confirmPassword, {'attr': {'class': 'form-control', 'placeholder': 'Confirm Password'}}) }}
                                    <span class="glyphicon glyphicon-log-in form-control-feedback">{{ form_errors(form.plainPassword.confirmPassword) }}</span>
                                    <span class="help-block text-red"></span>
                                </div>
                                <hr />
                                <div><h4>Profile Settings</h4></div>
                                <div class="form-group has-feedback">
                                    <label for="about-me">About me:</label>
                                    {{ form_widget(form.aboutMe, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
                                    <span class="help-block text-red">{{ form_errors(form.aboutMe) }}</span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="education">Education:</label>
                                    {{ form_widget(form.education, {'attr': {'class': 'form-control'}}) }}
                                    <span class="help-block text-red">{{ form_errors(form.education) }}</span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="age">Age:</label>
                                    {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
                                    <span class="help-block text-red">{{ form_errors(form.age) }}</span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="Location">Location:</label>
                                    {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
                                    <span class="help-block text-red">{{ form_errors(form.location) }}</span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9"></div>
                                    <!-- /.col -->
                                    <div class="col-xs-3">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat">Save Changes</button>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
<script>
    $(function() {
        $(document).on('change', ':file', function() {
            var input = $(this),
                label = "Choose a profile picture...";

            if (input.val() !== "") {
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            }
            input.trigger('fileselect', [label]);
        });

        $(document).ready( function() {
            $(':file').on('fileselect', function(event, label) {
                var input = $(this).parents('.input-group').find(':text');
                input.val(label);
            });
        });
    });
</script>
{% endblock %}